*{
    /* outline: 1px solid red; */
}
body{
    background: black;
}
.trapecio {
    position: absolute;
    width: 650px;
    height: 0px;
    /*right: 100px;*/
    left: 600px;
    border-right: 0px solid red;
    border-left: 80px solid transparent;
    -webkit-column-break-after: 20px solid blue;
    border-bottom: 500px solid #3c3c3b;
    /*background-color: green;*/
}
#name{
    /* position: absolute; */
    color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 40px;
    font-family: 'Poiret One', cursive;
    text-align: center;
    top: 20px;
}
#carrera{
    color: #F5A731;
    font-size: 40px;
    font-family: 'Changa', sans-serif;
    text-align: center;
    
}
#datos{
    color: white;
    font-size: 20px;
    font-family: 'Pontano Sans', sans-serif;
}
#conteiner{
    position: relative;
    top: 40px;
    bottom: 50px;
    
}
#foto{
    position: relative;
}
#lab{
    color: #F5A731;
    position: absolute;
    font-size: 70px;
    left: 60px;
    top: 20px;
    font-family: 'ABeeZee', sans-serif;
}

.image{
    position: absolute;
    width: 700px;
    height: 500px;
    left: 50px;
    /*border-right: 10px solid red;*/
    /*border-left: 70px solid blue;*/
    /*-webkit-column-break-after: 10px solid blue;*/
    /*border-bottom: 500px solid gray;*/
    /*background-color: green;*/

}
#icono{
    position: absolute;
    top: 340px;
    left: 490px;
}